{% extends "base_generic.html" %}

{% block content %}
    <h1>Все аккаунты:</h1>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          {% if perms.lfmsh.staff_ %}
            <li><a href="{% url 'new-user' %}">Создать новый аккаунт</a></li>
            <li><a href="{% url 'new-user-custom' %}">Создать новый аккаунт (с доп.настройкой)</a></li>
            {% if object_list %}
            <li><a href="{% url 'update-all-pass' %}">Обновить все пароли</a></li>
            {% endif %}
          {% endif %}
        </ul>
    </div>
    <br />
    {% if object_list %}
    <table class="table">
        <tr class="tr">
            <td class="td">Аккаунт</td>
            <td class="td">Группа</td>
            <td class="td">Ссылка</td>
        </tr>
        {% for element in object_list %}
        <tr class="tr">
            <td class="td">{{ element.info }}</td>
            <td class="td">
                {% if element.is_ped == True %}
                    <span class="green">Педсостав</span>
                {% else %}
                    <span class="red">Пионер</span>
                {% endif %}
            </td>
            <td class="td"><a href="{{ element.get_absolute_url_for_edit }}">Изменить аккаунт...</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if object_list.has_previous %}
        <a href="?page1={{ object_list.previous_page_number }}">Предыдущая страница</a>
    {% endif %}
    <span class="page-current">
        Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
    </span>
    {% if object_list.has_next %}
        <a href="?page1={{ object_list.next_page_number }}">Следующая страница</a>
    {% endif %}
    <form method="GET" action="{% url 'info-users' %}">
        <input type="text" name="page1" value="{{ messages.number }}" />
        <button type="submit">Перейти</button>
    </form>
    {% else %}
      <p>Ещё не существует ни одного аккаунта.</p>
    {% endif %}
    <a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}
