{% extends "base_generic.html" %}

{% block content %}
<h1>Здравствуй, {{ request.user.account }}</h1>
<form action="" method="post"><ui>
    {% if request.user.account.party != 0 %}
    <li>Отряд: {{ request.user.account.party }}</li>
    {% else %}
    <li>Вы не принадлежите ни к одному отряду.</li>
    {% endif %}
    <p class="text-muted">Если это не так, вы можете обратиться к админу, он исправит.</p>
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Обновить статус" />
</ui></form>

<h1>Сообщения:</h1>
<div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'messages-new' %}">Создать глобальное сообщение</a></li>
        <li><a href="{% url 'chats-new' %}">Создать новый чат</a></li>
        <li><a href="{% url 'messages-edit' %}">Просмотреть отправленные сообщения</a></li>
        <li><a href="{% url 'chats-archived' %}">Просмотреть чаты из архива</a></li>
    </ul>
</div>
<h2>Личные чаты:</h2>
{% if messages %}
<table class="table">
    <th class="th">
        <td class="td">Чат</td>
        <td class="td">Создатель</td>
        <td class="td">Приватность</td>
        <td class="td">Состояние</td>
        <td class="td">Ссылка</td>
    </th>
    {% for element in items1 %}
    {% load static %}
    <tr class="tr">
        <td class="td"><img src="{{ element.get_img }}" /></td>
        <td class="td">{{ element.name }}</td>
        <td class="td">{{ element.creator }}</td>
        <td class="td"><span {% if element.anonim %} class="green" {% elif not element.anonim_legacy %} class="red" {% endif %}>
            {{ element.anonim_status }}</span></td>
        {% for el2 in readen_status %}
        {% if el2.what_chat.id == element.id %}
        <td class="td">{% if el2.readen %}
            <span class="green">Прочитано</span>{% else %}<span class="red">Не прочитано</span>{% endif %}</td>
        {% endif %}
        {% endfor %}
        <td class="td"><a href="{{ element.get_absolute_url }}">Перейти в чат</a></td>
    </tr>
    {% endfor %}
</table>
{% if items1.has_previous %}
    <a href="?page1={{ items1.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items1.number }} из {{ items1.paginator.num_pages }}.
</span>
{% if items1.has_next %}
    <a href="?page1={{ items1.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Ещё нет ни одного чата с вашим участием.</p>
{% endif %}
<h2>Глобальные сообщения:</h2>
{% if messages_public %}
<table class="table">
    <tr class="tr">
        <td class="td">Данные об отправителе</td>
        <td class="td">Текст сообщения</td>
    </tr>
    <tr class="tr">
        <td class="td" colspan="2"></td>
    </tr>
    {% for element in items2 %}
    <tr class="tr">
        <td class="td">{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
        <td class="td" rowspan="4"><pre class="multiple-text">{{ element.text }}</pre></td>
    </tr>
    <tr class="tr">
        <td class="td">{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
    </tr>
    <tr class="tr">
        <td class="td">Отправка: {{ element.get_date }}.</td>
    </tr>
    <tr class="tr">
        <td class="td" colspan="2"></td>
    </tr>
    {% endfor %}
</table>
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Глобальных сообщений ещё нет.</p>
{% endif %}
<a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}
