{% extends "base_generic.html" %}

{% block content %}

    <h1>Изменение сообщения</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <p class="text-muted">Анонимное сообщение можно сделать неанонимным, неанонимное сообщение нельзя сделать анонимным.</p>
        <h4>Вы можете удалить сообщение, нажав на соответствующую кнопку. Сообщение без запроса подтверждения будет удалено.</h4>
        <input type="submit" value="Применить..." />
        <input type="submit" name="delete" value="Удалить сообщение" />
    </form>

{% endblock %}
