{% extends "base_generic.html" %}

{% block content %}

    <h1>Создание нового чата</h1>
    <h2>Ошибка создания</h2>
    <p>При создании нового чата произошла ошибка: подобный чат уже существует.</p>
    <p>Вы должны выыбрать одно из действий ниже для завершения операции.</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <p class="text-muted">Анонимное сообщение можно сделать неанонимным, неанонимное сообщение нельзя сделать анонимным.</p>
        <input type="submit" value="Создать" />
    </form>

{% endblock %}
