{% extends "base_generic.html" %}

{% block content %}
<h1>Отправленные сообщения:</h1>
{% if messages %}
<table class="table">
    <tr class="tr">
        <td class="td">Чат</td>
        <td class="td">Дата</td>
        <td class="td">Текст</td>
        <td class="td">Статус</td>
        <td class="td">Обновление</td>
    </tr>
    {% for element in items1 %}
    <tr class="tr">
        <td class="td">{{ element.receiver.name }}</td>
        <td class="td">{{ element.get_date }}</td>
        <td class="td"><pre class="multiple-text">{{ element.text }}</pre></td>
        <td class="td"><span {% if element.anonim %} class="green" {% elif not element.anonim_legacy %} class="red" {% endif %}>
            {{ element.anonim_status }}</span></td>
        <td class="td"><a href="{{ element.get_absolute_url }}">Изменить сообщение...</a></td>
    </tr>
    {% endfor %}
</table>
{% if items1.has_previous %}
    <a href="?page2={{ items1.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items1.number }} из {{ items1.paginator.num_pages }}.
</span>
{% if items1.has_next %}
    <a href="?page2={{ items1.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages-edit' %}">
    <input type="text" name="page2" value="{{ items1.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Вы ещё никому не писали.</p>
{% endif %}
<h1>Отправленные сообщения (в архиве):</h1>
{% if items3 %}
<table class="table">
    <tr class="tr">
        <td class="td">Чат</td>
        <td class="td">Дата</td>
        <td class="td">Текст</td>
        <td class="td">Статус</td>
    </tr>
    {% for element in items3 %}
    <tr class="tr">
        <td class="td">{{ element.receiver.name }}</td>
        <td class="td">{{ element.get_date }}</td>
        <td class="td"><pre class="multiple-text">{{ element.text }}</pre></td>
        <td class="td"><span {% if element.anonim %} class="green" {% elif not element.anonim_legacy %} class="red" {% endif %}>
            {{ element.anonim_status }}</span></td>
    </tr>
    {% endfor %}
</table>
{% if items3.has_previous %}
    <a href="?page3={{ items3.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items3.number }} из {{ items3.paginator.num_pages }}.
</span>
{% if items3.has_next %}
    <a href="?page3={{ items3.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages-edit' %}">
    <input type="text" name="page3" value="{{ items3.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>В архиве ещё нет чатов с вашими сообщениями.</p>
{% endif %}
<h1>Глобальные сообщения:</h1>
{% if messages_public %}
<table class="table">
    <tr class="tr">
        <td class="td">Дата</td>
        <td class="td">Текст</td>
        <td class="td">Статус</td>
        <td class="td">Обновление</td>
    </tr>
    {% for element in items2 %}
    <tr class="tr">
        <td class="td">{{ element.get_date }}</td>
        <td class="td"><pre class="multiple-text">{{ element.text }}</pre></td>
        <td class="td">{% if element.anonim %}<span class="green">Анонимно</span>{% else %}<span class="red">Не анонимно</span>{% endif %}</td>
        <td class="td"><a href="{{ element.get_absolute_url }}">Изменить сообщение...</a></td>
    </tr>
    {% endfor %}
</table>
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages-edit' %}">
    <input type="text" name="page1" value="{{ items2.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Вы ещё не отправляли глобальных сообщений.</p>
{% endif %}
<a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}
