{% if items2 %}
{% if theme.type_theme == 'c' %}
<table class="table{{ postfix }}">
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}">Данные об отправителе</td>
        <td class="td{{ postfix }}">Текст сообщения</td>
    </tr>
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}" colspan="2"></td>
    </tr>
    {% for element in items2 %}
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}">{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
        <td class="td{{ postfix }}" rowspan="4"><pre class="multiple-text">{{ element.text }}</pre></td>
    </tr>
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}">{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
    </tr>
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}">Отправка: {{ element.get_date }}.</td>
    </tr>
    <tr class="tr{{ postfix }}">
        <td class="td{{ postfix }}" colspan="2"></td>
    </tr>
    {% endfor %}
</table>
{% elif theme.type_theme == 'f' %}
<hr class="hr_end{{ postfix }}" />
{% for element in items2 %}
    <h3 class="h3{{ postfix }}"><strong>
        {% if element.anonim %}Сообщение отправлено анонимно:{% else %}{{ element.creator }}:{% endif %}
    </strong></h3>
    <p class="txt{{ postfix }}"><pre class="multiple-text">{{ element.text }}</pre></p>
    <hr class="hr_middle{{ postfix }}" />
    <p class="txt{{ postfix }}"><strong>
        {% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.
    </strong></p>
    <p class="text-muted">Отправка: {{ element.get_date }}.</p>
    <hr class="hr_end{{ postfix }}" />
{% endfor %}
{% endif %}
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Глобальных сообщений ещё нет.</p>
{% endif %}