{% if items2 %}
<table class="table">
    <tr class="tr">
        <td class="td">Данные об отправителе</td>
        <td class="td">Текст сообщения</td>
    </tr>
    <tr class="tr">
        <td class="td" colspan="2"></td>
    </tr>
    {% for element in items2 %}
    <tr class="tr">
        <td class="td">{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
        <td class="td" rowspan="4"><pre class="multiple-text">{{ element.text }}</pre></td>
    </tr>
    <tr class="tr">
        <td class="td">{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
    </tr>
    <tr class="tr">
        <td class="td">Отправка: {{ element.get_date }}.</td>
    </tr>
    <tr class="tr">
        <td class="td" colspan="2"></td>
    </tr>
    {% endfor %}
</table>
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Глобальных сообщений ещё нет.</p>
{% endif %}