.green{
    color: forestgreen;
}
.red{
    color: mediumvioletred;
}
.table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
.caption{
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.th{
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
.td{
    padding: 10px;
}
.tr:nth-child(odd){
    background: white;
}
.tr:nth-child(even){
    background: #E8E6D1;
}
.table_contr{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
.caption_contr{
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.th_contr{
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
.td_contr{
    padding: 10px;
}
.tr_contr:nth-child(odd){
    background: #f0f0f0;
}
.tr_contr:nth-child(even){
    background: #d0d0d0;
}
.table_blackandwhite{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #00ff00;
}
.caption_blackandwhite{
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.th_blackandwhite{
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
.td_blackandwhite{
    padding: 10px;
}
.tr_blackandwhite:nth-child(odd){
    background: #ffffff;
}
.tr_blackandwhite:nth-child(even){
    background: #000000;
}
.h3_recommended{
    background: #f0f0f0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #686461;
}
.hr_middle_recommended{
    width: 100%;
    text-align: left;
    margin-left: 0;
    border-width: 0;
    color: #c0c0c0;
    background-color: #c0c0c0;
    height: 2px;
}
.txt_recommended{
    background: #f7f7f7;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #686461;
}
.hr_end_recommended{
    width: 100%;
    text-align: left;
    margin-left: 0;
    border-width: 0;
    color: black;
    background-color: black;
    height: 3px;
}
.h3_base{
    background: #E8E6D1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #686461;
}
.hr_middle_base{
    width: 100%;
    text-align: left;
    margin-left: 0;
    border-width: 0;
    color: #c0c0c0;
    background-color: #c0c0c0;
    height: 2px;
}
.txt_base{
    background: #E8E6D1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #686461;
}
.hr_end_base{
    width: 100%;
    text-align: left;
    margin-left: 0;
    border-width: 0;
    color: #E8E6D1;
    background-color: #E8E6D1;
    height: 3px;
}
.multiple-text{
    white-space: pre-line;
    text-align: justify;
    word-break: break-word;
}
.topbutton{
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.footer{
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}